.subpage-nav {
  display: block !important;
  position: relative;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* main content */

.main-content {
  background: #f7f7f7;
}

.main-content .container-main {
  display: inline-block;
  width: 100%;
}

.main-content .container-main .block-main {
  margin-bottom: 30px;
  overflow: hidden;
}

.container-main .block-main .content-main {
  background: #f7f7f7 none repeat scroll 0 0;
  display: inline-block;
  width: 100%;
}

.journal-txt h4 a {
  display: block;
  text-align: center;
  font-size: 25px;
  line-height: 24px;
  margin: 0 0 13px 0;
  font-weight: 500;
  color: #292929;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;

  font-weight: 600;
}

.journal-txt h4 a:hover {
  color: #ff6d6d;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.post-meta ul li {
  font-size: 15px;
  font-weight: normal;
  margin-left: 8px;
  margin-right: 8px;
  text-transform: capitalize;
  display: inline-block;
  float: none;
  color: #000000;
}

.content-main .post-meta a {
  color: #000000;
  margin-left: 5px;
}


blockquote {
  padding: 40px;
  background-color: #fff;
  margin: 30px 0;
  border: none;
  border-left: 4px solid #ff6d6d;
  font-family: 'Courier New', Courier, monospace;
  color: #000000;
}


.gallery-info {
  text-align: center;
  display: block;
  font-size: 12px;
  opacity: 0.7;
  font-style: italic;
}

.header .lead {
  max-width: 620px;
}

.white h4,
.white p {
  color: #fff;
}

.bor {
  border: 2px solid #ff6d6d;
  justify-content: center;
  margin-bottom: 10px;
  transition: ease-in-out 0.3s;
}

.bor:hover {
  border: 3px solid #ff3f3f;
  transform: translateY(-10px);
}

#project .project-img img {
  width: 100%;
  object-fit: cover;
  padding: 20px 5px 20px 5px;

  margin-left: auto;
  margin-right: auto;
  display: block;
}

.proj-title {
  color: #000000;
  font-size: 22px;
  font-weight: 500;
  margin: 8px;
}

.proj-desc {
  color: #000000;
  font-size: 18px;
  margin: 8px;
}

.portfolio-info p {
  color: #000000;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
  color: #000000;
}

.portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-info h3 {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

b,
strong {
  font-weight: bold;
}

.portfolio-info-list ul {
  list-style-type: decimal;
  padding: 0 3vw 0 3vw;
  font-size: 16px;
  color: #000000;
}

.portfolio-info-list li {
  padding-top: 10px;
}